# Build output
bin/
obj/

# Logs
Logs/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Mac
.DS_Store

.DS_Store
**/bin
**/obj
**/node_modules
**/dist
**/build
**/Logs
**/APILogs