@model UsersViewModel

<h1>List of users (@Model.CurrentViewName View)</h1>

<partial name="_UsersTable" model="Model.Users"/> 

<p>
    <a class="btn btn-secondary" asp-action="Create">Create New User</a>
</p>