@model UsersViewModel

<div class="row mb-2">
    <div class="col-md-12">
        <h1>Brukeradministrasjon</h1>
    </div>
</div>

<partial name="_UsersTable" model="Model.Users"/> 

<div class="mb-3 mt-4">
    <a class="btn btn-primary" asp-action="Create">
        Opprett Ny Bruker
    </a>
</div>