@model AvailableDaysViewModel

<div class="row mb-2"> 
    <div class="col-md-12">
        <h1>Tilgjengelige Dager</h1> </div>
</div>

<partial name="_AvailableDaysTable" model="Model.AvailableDays"/> 

<div class="mb-3 mt-4">
    <a class="btn btn-primary" asp-action="Create">Opprett Ny Tilgjengelig Dag</a>
</div>