@{
    ViewData["Title"] = "Appointments";
}

<h1>Appointments</h1>

<p>Peter og Mustaf. Dette er her vi designer siden med timer og detaljer. Fra oppgaven: Appointment with tasks booked by the clients</p>