@model HomecareApp.ViewModels.AvailableDaysViewModel

<div class="row mb-2"> 
    <div class="col-md-12">
        <h1>Available Time slots</h1> 
    </div>
</div>

<partial name="_AvailableDaysTable" model="Model"/> 

<div class="mb-3 mt-4">
    <a class="btn btn-primary" asp-action="Create">Create New Available Day</a>
</div>