@{
    // Setter tittelen for nettleserfanen
    ViewData["Title"] = "My Shifts";
}

<h1>My Shifts</h1>

<p>Peter og mustaf. Dette er her vi designer kalenderen og listevisningen av tildelte vakter.</p>