@model HomecareApp.ViewModels.UsersViewModel

<div class="row mb-2">
    <div class="col-md-12">
        <h1>User Management</h1>
    </div>
</div>

<partial name="_UsersTable" model="Model.Users"/> 

<div class="mb-3 mt-4">
    <a class="btn btn-primary" asp-action="Create">
        Create New User
    </a>
</div>