@model Appointment

@{
    ViewData["Title"] = "Update Appointment";
}

<h2>Update appointment</h2>
<hr />

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="AppointmentId" />

    <div class="form-group">
        <label asp-for="ClientId" class="control-label">client</label>
        <select asp-for="ClientId" class="form-control" asp-items="@(new SelectList(ViewBag.Clients, "UserId", "Name"))">
            <option value="">Choose client</option>
        </select>
        <span asp-validation-for="ClientId" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="AvailableDayId" class="control-label">Available day</label>
        <select asp-for="AvailableDayId" class="form-control" asp-items="@(new SelectList(ViewBag.AvailableDays, "AvailableDayId", "Date"))">
            <option value="">Choose day</option>
        </select>
        <span asp-validation-for="AvailableDayId" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="TaskDescription" class="control-label">description</label>
        <textarea asp-for="TaskDescription" class="form-control"></textarea>
        <span asp-validation-for="TaskDescription" class="text-danger"></span>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a asp-action="Table" class="btn btn-secondary">Cancel</a>
    </div>
</form>

