html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Styling for Card Hover Effect (Gjør kortene dynamiske) */

/* Legger til en jevn overgang for alle endringene */
.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Dette skjer når musen er over kortet */
.card:hover {
    /* Løfter kortet 5 piksler opp */
    transform: translateY(-5px); 
    
    /* Gir kortet en tydeligere, men myk skygge */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    
    /* Endrer pekeren til å vse at det er interaktivt */
    cursor: pointer; 
}